/*************************************
HEADING
**************************************/
h1  {
 font-family: 'Times New Roman', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: left;
 color:    #0000FF;
 }

h2 {
     font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1em;
 font-weight: normal;
 line-height: 0.5;
 text-align: left;
 color:    rebeccapurple;
}


a {
  color: cornflowerblue; /* Default link color */
  text-decoration: none; /* Optional: remove default underline */
}

a:hover {
  color: red;
}

body {
    margin: 0;
    min-height: 100vh;
    color: #000;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/page_02.png");

}

body.signup-page {
    background-image: url("static/img/page_01.png");
}